<div class="card">
    <div class="panel-header card-header">
        <ul class="nav nav-info nav-justified">
            <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
                <a (click)="goToStep(step)">{{step.title}}</a>
            </li>
        </ul>
    </div>
    <div class="panel-body card-block">
        <ng-content></ng-content>
    </div>
    <div class="card-footer" *ngIf="!isCompleted">
        <div class="pull-left">
            <button type="button" class="btn btn-info" (click)="previous()" *ngIf="hasPrevStep || activeStep.showPrev">Previous</button>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-info" (click)="next()" [disabled]="!activeStep.isValid" *ngIf="hasNextStep || activeStep.showNext">Next</button>
            <button type="button" class="btn btn-primary" (click)="complete()" [disabled]="!activeStep.isValid" *ngIf="!hasNextStep">Done</button>
        </div>
    </div>
</div>
