.card {
  height: 100%;
}

.card-header {
  background-color: #fff;
  padding: 0;
  font-size: 2rem;
  color: #1976D2
}

.card-block {
  overflow-y: auto;
}

.card-footer {
  background-color: #fff;
  border-top: 0 none;
}

.nav-item {
  padding: 1rem 0rem;
  border-bottom: 0.5rem solid #ccc;
}

.active {
  font-weight: bold;
  color: black;
  border-bottom-color: #1976D2 !important;
}

.enabled {
  cursor: pointer;
  border-bottom-color: #aad1f7;
}

.disabled {
  color: #ccc;
}

.completed {
  cursor: default;
}
