<div class="col-sm-8 user-list">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center user-list-header">Friends</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userStep of users; let i = index;">
        <td>
          {{userStep.user.name}}
        </td>
        <td class="text-center">
          <button class="btn btn-primary btn-xs" (click)="removeUserStep(userStep)">
            <i class="fa fa-close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>