<nav class="navbar navbar-no-bottom navbar-toggleable-md navbar-default fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" aria-expanded="false" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
        <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" class="navbar-brand">
        <span class="icon">
          <i class="fa fa-map"></i>
        </span>
        <span>TravelFriends</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentation</a>
        </li>
        <li>
          <form class="navbar-form navbar-left">
            <button class="btn btn-primary btn-outline">
              <span class="icon"><i class="fa fa-github"></i></span> 
              <span>Download</span>
            </button>
            </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron text-center paddingBottom-0">
  <div class="page-header">
    <h1>Welcome to European Travel Planning</h1>
    <p class="sub-title">
      A MTSP that, based on your configuration will compute and schedule a possible route for friends travelling across Europe.
    </p>
  </div>
  <div class="container">
    <div id="tabbed-menu" class="container">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/configure" routerLinkActive="active">Configure</a>
        </li>
      </ul>
    </div>
  </div>
</div>
