.jumbotron {
  background: linear-gradient(90deg, #027262 10%, #00d1b2 90%);
  filter: none;
  color: #e9e9e9;
}

.jumbotron .page-header {
  border-bottom: 0
}

.jumbotron{
  padding-bottom: 0
}

.navbar {
  height: 50px !important;
}

.navbar-no-bottom {
  margin-bottom: 0;
}

#tabbed-menu .nav-tabs > li.active > a, #tabbed-menu .nav-tabs > li.active > a:hover, #tabbed-menu .nav-tabs > li.active > a:focus {
	background-color: #fff;
	border-color: #fff;
	color: #00d1b2;
}

#tabbed-menu .nav-tabs > li > a {
	color: #fff;
}
#tabbed-menu .nav-tabs > li > a:hover{
	background-color: rgba(10, 10, 10, 0.1);
	border-color: rgba(10, 10, 10, 0.1);
}