<div class="row">
    <section class="row">
      <div class=" well well-lg">
        <h5>Now that you're finished we are now generating the european vacation tour.</h5>
        <p>
          Give it time as it will be trying different scenarios using a Modified Ant Colony Optimisation Method to give you the best result.
        </p>
      </div>
    </section>
    <section class="row">
      <!-- User Results  -->
      <accordion>
        <accordion-group #group>
          <div accordion-heading >
            Iteneraries
            <i class="pull-right float-xs-right fa"
              [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
          </div>
          <div *ngFor="let itinerary of travellerIteneraries;  index as i;">
            <div class="itinerary-summary" [style.borderLeftColor]="itinerary.tourColour">
              <h4 [style.color]="itinerary.tourColour">
                {{this.users[i].name}} 
        
                <button class="pull-right btn btn-sm btn-default" (click)="showitInerary[i] = !showitInerary[i]">
                  Show <i class="float-xs-right fa"[ngClass]="{'fa-minus': showitInerary[i], 'fa-plus': !showitInerary[i]}"></i>
                </button>
              </h4>
              <table [hidden]="!showitInerary[i]" class="table table-responsive ">
                  <thead>
                    <tr>
                        <th>Town/City</th>
                        <th>Destination</th>
                        <th>Attractions</th>
                        <th>Time Est in City (mins)</th>
                        <th>Cost</th>
                        <th>MeetUp</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let visit of itinerary.acoTour.tour; index as j; last as isLast">
                        <td *ngIf="!isLast">{{itinerary.acoTour.tour[j]}}, {{townInfo[itinerary.acoTour.tour[j]].Country}}</td>
                        <td *ngIf="!isLast">{{itinerary.acoTour.tour[j + 1]}},{{townInfo[itinerary.acoTour.tour[j + 1]].Country}}</td>
                        <td *ngIf="!isLast"><span *ngIf="(itinerary.acoTour.tour.length - 1) !== (j + 1)">{{townInfo[itinerary.acoTour.tour[j + 1]].activities}}</span></td>
                        <td *ngIf="!isLast"><span *ngIf="(itinerary.acoTour.tour.length - 1) !== (j + 1)">{{townInfo[itinerary.acoTour.tour[j + 1]].time}}</span></td>
                        <td *ngIf="!isLast"><span *ngIf="(itinerary.acoTour.tour.length - 1) !== (j + 1)">{{townInfo[itinerary.acoTour.tour[j + 1]].cost}}</span></td>
                        <td *ngIf="!isLast">
                          <span *ngIf="itinerary.meetups && (itinerary.acoTour.tour.length - 1) !== (j + 1)">
                            {{itinerary.meetups[itinerary.acoTour.tour[j + 1]] || "-"}}  
                          </span>
                        </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </accordion-group>
      </accordion>
      
    </section>
    <section class="row">
      <div class=" well well-lg">
        <ngx-loading [show]="loading" [config]="{ animationType: ANIMATION_TYPES.threeBounce, backdropBorderRadius: '14px',
            primaryColour: '#3FB8AF', secondaryColour: '#1976D2', tertiaryColour: '#CC0000' }"></ngx-loading>
        <div id="results-chart" [style.width.%]="100" [style.height.px]="800"></div>
      </div>
    </section>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn bg-primary btn-lg btn-block" (click)="toggleCompleted()">
        <span class="icon"> <i class="fa fa-pencil"></i></span>
        <span>Edit Preferences</span>
      </button>
    </div>
  </div>
  