.itinerary-summary {
    border-color: #eee;
    border-image: none;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 20px;
    padding: 24px;
}
// .bs-callout:last-child {
//     margin-bottom: 0px;
// }

.itinerary-summary h4 {
    margin-bottom: 10px;
    margin-top: 0;
}
