<app-form-wizard [changedStep]="changedStep" (onStepChanged)="onStepChanged($event)" [_isCompleted]="isCompleted">
  <app-wizard-step [title]="firstStep.title" [isValid]="dynamicSteps.length" [showNext]="firstStep.showNext" [showPrev]="firstStep.showPrev"
    (onNext)="onfirstStepNext($event)">
    <h2>{{firstStep.title}}</h2>
    <p class="muted">Please enter list of friends before proceeding.</p>
    <div class="row">
      <div class="col-sm-6">
        <input class="form-control" type="text" [(ngModel)]="newUserName" placeholder="Friend Name" />
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" [disabled]="!newUserName" style="width: 100%" (click)="addUser()">Add</button>
      </div>
    </div>
    <div class="row">
      <app-user-list *ngIf="dynamicSteps.length" (onUserRemoval)="onStepRemoved($event)" [users]="dynamicSteps"> </app-user-list>
    </div>
  </app-wizard-step>

  <app-wizard-step *ngFor="let userStep of dynamicSteps" [title]="userStep.title" [showNext]="userStep.showNext" [showPrev]="userStep.showPrev">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <h2>{{userStep.title}} Preferences</h2>
        <p class="muted">Please click on the sections below to modify your preferences</p>
        <app-user-prefs [user]="userStep.user"> </app-user-prefs>
      </div>
    </div>
  </app-wizard-step>

  <app-wizard-step [title]="lastStep.title" [showNext]="lastStep.showNext" [showPrev]="lastStep.showPrev" (onComplete)="onComplete($event)">
    <div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>
        <h2>{{lastStep.title}}</h2>
        <p class="muted">Please review the summary.</p>
        <table class="table table-striped table-condensed text-center">
          <thead>
              <tr>
                <th class="text-center">Friends</th>
                <th class="text-center">Preferred Activities - [weights]</th>
                <th class="text-center">Preferred Countries</th>
                <th class="text-center">Budget</th>
                <th class="text-center">Days</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userStep of dynamicSteps">
              <td>{{userStep.user.name}}</td>
              <td><span *ngFor="let activity of getCheckedActivities(userStep.user.activityPrefs)">{{activity.name}} - [{{activity.weight}}] | </span></td>
              <td><span *ngFor="let country of userStep.user.countryPrefs">{{country}},</span></td>
              <td><span>{{userStep.user.budget}}</span></td>
              <td><span>{{userStep.user.days}} </span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngSwitchCase="true">
      </div>
    </div>
  </app-wizard-step>
</app-form-wizard>
