<div [hidden]="isCompleted">
  <app-config-wizard (onStepAddedToWizard)="onStepAddedToWizard($event)" (onStepRemovedFromWizard)="onStepRemovedFromWizard($event)"
    (onWizardComplete)="onWizardComplete($event)" [changedStep]="stepAdded" [isCompleted]="isCompleted" [dynamicSteps]="stepsList">
  </app-config-wizard>
</div>
<div *ngIf="isCompleted">
  <app-aco-results (onToggleCompleted)="toggleCompleted()"> </app-aco-results>
</div>
