/* You can add global styles to this file, and also import other style files */
// version 3
@import 'variables';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap';
@import "~font-awesome/css/font-awesome.css";

@import '~ngx-bar-rating/themes/br-horizontal-theme';


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}