<section class="well well-lg">
  <p>This is a travel planning tool, that will optimise a schedule based on configurations set by a user. These schedules will
    take into consideration the countries/cities each user would like to visit, as well as the attractions they would prefer
    to see. It will also take be mindful of travel time, sleep time and will try to align visits to the same location (if
    it is feasible) so the friends can meet up and share experiences.
  </p>

  <p>
    <strong>Sounds fun right!?</strong> Then get to planning. Below is a step by step description.
  </p>

</section>
<section>
  <h2>How to use</h2>
  <h4>
    With about three easy steps, you could be planning your European Vacation with friends!
  </h4>

  <!-- Horizontal Steps -->
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary fixed-height-steps">
        <div class="panel-heading text-center"><span class="step-title">Step 1</span></div>
        <div class="panel-body">
          <p>Gather some friends and then let us know how many will be going on the trip. As well as the location they will
            be travelling <strong>from</strong>.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary fixed-height-steps">
        <div class="panel-heading  text-center"><span class="step-title">Step 2</span></div>
        <div class="panel-body">
          <p>Each friend configures their vacation, with their preference of countries/cities and the activities they are interesting.
            As well as the priority they associate with them.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary fixed-height-steps">
        <div class="panel-heading  text-center"><span class="step-title">Step 3</span></div>
        <div class="panel-body">
          <p>Leave it up to us to generate the schedule, a range of schedules will be there with colour coated lines on a map
            dipicting each friend and a score to show optimality. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Configuring -->
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn bg-primary btn-lg btn-block" routerLink="/configure">
        <span class="icon">
          <i class="fa fa-hand-o-right animated shake"></i>
        </span>
        <span>Start Planning</span>
      </button>
    </div>
  </div>
</section>
