<accordion [closeOthers]="oneAtATime">
  <accordion-group [panelClass]="'panel-info'" #countrypref>
    <div accordion-heading>
      Country Preference
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': countrypref?.isOpen, 'fa-chevron-right': !countrypref?.isOpen}"></i>
    </div>
    <p class="text-muted">Please select your preferred countries. (leave blank if no preference)</p>
    <app-country-selector [user]="user"></app-country-selector>
  </accordion-group>
  <accordion-group [panelClass]="'panel-info'" #activitypref>
    <div accordion-heading>
      Activity Preference
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': activitypref?.isOpen, 'fa-chevron-right': !activitypref?.isOpen}"></i>
    </div>
    <div class="col-md-12">
      <p class="text-muted">Please select your preferred activities. (leave blank if no preference)</p>
      <div class="col-md-8">
        <div class="well well-lg text-center">
          <div class="btn-group">
            <label *ngFor="let activity of activities" class="btn btn-primary" [(ngModel)]="checkedActivities[activity.name].selected"
              btnCheckbox>
            <span class="icon">
                <i class="fa" [ngClass]="activity.icon"></i>
              </span>
              <span >{{activity.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <table class="table table-condensed" *ngIf="getTruePrefs().length">
          <thead>
            <tr>
              <th class="text-center">Selected Activity</th>
              <th class="text-center"> Weighting</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of getTruePrefs()"> 
              <td class = "text-center centering">
                {{activity.name}}
              </td>
              <td>
                <bar-rating [(rate)]="activity.weight" [theme]="'horizontal'" [showText]="true" [max]="10"></bar-rating>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </accordion-group>
  <accordion-group [panelClass]="'panel-info'" #otherpref>
    <div accordion-heading>
      Other Logistic Preference
      <i class="pull-right float-xs-right fa"
         [ngClass]="{'fa-chevron-down': otherpref?.isOpen, 'fa-chevron-right': !otherpref?.isOpen}"></i>
    </div>
    <p>Please fill out the form below if there are travel contraints.</p>
    <form #constraintForm="ngForm">
      <div class="form-group row">
          <label for="budget{{user._id}}" class="control-label col-md-2">Maximum Budget</label>
          <div class="col-md-5">
              <input name="constraintBudget" [(ngModel)]="user.budget" type="number" step=".01" class="form-control" id="budget{{user._id}}" placeholder="100">
          </div>
      </div>
      <div class="form-group row">
          <label for="days{{user._id}}" class="control-label col-md-2">Days Travelling</label>
          <div class="col-md-5">
              <input disabled name="constraintDays" [(ngModel)]="user.days" type="number" class="form-control" id="days{{user._id}}" placeholder="7">
          </div>
      </div>
      <div class="form-group row">
          <label for="days{{user._id}}" class="control-label col-md-2">Start Town</label>
          <div class="col-md-5">
            <ng-select 
              [options]="townOptions" 
              [(ngModel)]="user.startTown" 
              id="days{{user._id}}"
              name="startTown">
            </ng-select>
          </div>
      </div>
  </form>
  </accordion-group>
</accordion>